<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="http://wasnot.net/static/app.js"></script>
  </head>
  <body>

    <div class="container">
        <h1>Item page</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead">
                    Hello, {{ session.username }} <br />
                </p>
                <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
            </div>
        </div>

        <button onclick="wasnotTest('test');" class="btn btn-primary btn-lg btn-block">Sensy Platform</button>
    </div>
    <script>
        function wasnotAA(){
            alert('you are {{ session.bid }}');
        }
    </script>
    <iframe id="frame" src="http://wasnot.net/?id={{ test }}" class="hidden"></iframe>

    <div class="hidden">
        <header style="background-color:gray" class="hidden">Header</header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2" style="background-color:red;">Red</div>
            <div class="col-sm-8" style="background-color:blue;">Blue</div>
            <div class="col-sm-2" style="background-color:yellow;">Yellow</div>
          </div>
        </div>
        <footer style="background-color:gray">Footer</footer>
    </div>
    <div class="container hidden">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
              <td>煌木 太郎</td>
              <td>taro.kirameki@example.com</td>
              <td>09011112222</td>
          </tr>
          <tr>
            <th scope="row">2</th>
              <td>煌木 次郎</td>
              <td>jiro.kirameki@example.com</td>
              <td>09033334444</td>
          </tr>
          <tr>
            <th scope="row">3</th>
              <td>煌木 花子</td>
              <td>hanako.kirameki@example.com</td>
              <td>09055556666</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>